---
---
<div class="row justify-content-center">
    <div class="col-lg-8 text-center">
        <p class=""></p>
        <h1 class="display-2">Community <i class="fas fa-users text-primary"></i></h1>
        <p class="display-4 text-muted">Share your experience!</p>

        <p class="mt-5">IoT-LAB is a scientific tool used by many people doing research in various fields, addressing wireless communications, sensor networks, low power routing protocols, embedded and distributed applications, etc. Users are encouraged to share their experience, improvement ideas and results.</p>

        <p class="lead">
            This page lists <a href="#publications">Publications</a> and <a href="#education">Educational material</a> from users. <br>
            To add yours, please contact IoT-LAB administrators.
        <p>
    </div>
</div>

<div class="my-5"></div>

<section class="bg-">
<h2 id="publications">Publications using/citing IoT-LAB</h2>

<div class="alert alert-warning">
    <h4 class="alert-heading">Quote IoT-LAB</h4>
    Usage of FIT IoT-LAB is free of charge. In return, you must quote FIT IoT-LAB in your publication if your experiments results are based on FIT IoT-LAB testbed:
    <ol>
        <li>Add acknowledgements to FIT IoT-LAB in introduction or conclusion of the publication.</li>
        <li>Add the following citation to the reference article of FIT IoT-LAB:
            <blockquote class="blockquote">
                <a href="#" class="alert-link">FIT IoT-LAB: A Large Scale Open Experimental IoT Testbed</a>
                <footer class="blockquote-footer">
                    C. Adjih, E. Baccelli, E. Fleury, G. Harter, N. Mitton, T. Noel, R. Pissard-Gibollet, F. Saint-Marcel, G. Schreiner, J. Vandaele, T. Watteyne
                    <br> in <cite title="Source Title">IEEE World Forum on Internet of Things (IEEE WF-IoT), Milan, Italy, December 2015</cite></footer>
            </blockquote>
        </li>
        <li>Send email to admin@iot-lab.info once your publication has been accepted in order to update list.</li>
    </ol>
</div>

<div class="vh-100 overflow-auto shadow-sm rounded p-3">
{% for item in site.data.publications %}
    <h3 class="border-bottom">{{ item.year }}</h3>
    <ul>
    {% for publi in item.publications %}
        <li>
            <blockquote class="blockquote">
                <p class="mb-0"><a href="{{ publi.link }}" target="_blank">{{ publi.title }}</a></p>
                <footer class="blockquote-footer">
                    {{ publi.authors }}
                    <br>in <cite title="Source Title">{{ publi.reference }}</cite>
                </footer>
            </blockquote>
        </li>
    <!-- <li><a href="{{ publi.link }}" target="_blank">{{ publi.title }}</a> &ndash; <em>{{ publi.authors }}</em> &ndash; {{ publi.reference }}</li> -->
    {% endfor %}
    </ul>
{% endfor %}
</div>
</section>

<div class="my-5"></div>

<h2 id="education">Education</h2>

<p class="lead">The platform can be used for student projects or practical courses on Wireless Sensor Networks or Internet of Things.</p>

<div class="alert alert-info">
    <h4 class="alert-heading">Using IoT-LAB for practical courses</h4>
    <ul>
        <li>At least one reference teacher must have an IoT-LAB account and have accepted the charter.</li>
        <li>The reference teacher must contact, at least one month in advance, the IoT-LAB administrators by email to reserve a complete site during some courses period. The acceptance of the reservation is given according to the schedule of use for research or maintenance activities.</li>
        <li>The IoT-LAB administrators will generate a set of dedicated accounts for students.</li>
        <li>The practical courses using FIT IoT-LAB will be cited in the list below with a web link when it is possible.</li>
    </ul>
</div>

<h3>Referenced courses</h3>

<table class="table">
    <thead>
        <tr>
            <th>University/School</th>
            <th>Year</th>
            <th>Title</th>
            <th>Referent teacher</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="http://www.supsi.ch/home_en.html">University of Applied Sciences and Arts of Southern Switzerland</a></td>
            <td>2018</td>
            <td><a href="https://www.msengineering.ch/fileadmin/user_upload/customers/msengineering/Modulbeschreibungen/TSM_SoftFound_de.pdf">Software Foundations</a></td>
            <td><a href="mailto:daniele.puccinelli@supsi.ch">Daniele Puccinelli</a></td>
        </tr>
        <tr>
            <td><a href="https://www.telecom-paristech.fr/">Télécom ParisTech</a></td>
            <td>2018</td>
            <td><a href="https://www.telecom-paristech.fr/enseignement/cursus/cycle-master-cursus-paris/reseaux-mobiles-internet-objets.html">Réseaux mobiles et Internet des objets (RIO)</a></td>
            <td><a href="mailto:alexandre.abadie@inria.fr">Alexandre Abadie</a></td>
        </tr>
        <tr>
            <td><a href="http://www.ensea.fr/fr">ENSEA</a></td>
            <td>2018</td>
            <td><a href="http://www.ensea.fr/fr/huit-specialites-3e-annee-33">Électronique de Systèmes de Communication (ESC)</a></td>
            <td><a href="mailto:cedric.adjih@inria.fr">Cedric Adjih</a></td>
        </tr>
        <tr>
            <td><a href="http://en.uniroma1.it/">Sapienza University of Roma</a></td>
            <td>2018</td>
            <td><a href="http://ichatz.me/Site/PervasiveSystems2018">Pervasive Systems</a></td>
            <td><a href="mailto:ichatz@diag.uniroma1.it">Ioannis Chatzigiannakis</a></td>
        </tr>
        <tr>
            <td><a href="http://imt-lille-douai.fr/formations/toutes-les-formations/ingenieur-generaliste/cursus/">Institut Mines-Telecom Lille-Douai</a></td>
            <td>2018</td>
            <td>Internet des objets (<a href="http://imt-lille-douai.fr/formations/toutes-les-formations/formation-tout-au-long-de-la-vie/formations-a-distance-e-learning/master-2-rt/">Master 2 Réseau et Telecom</a>)</td>
            <td><a href="http://researchers.lille.inria.fr/~mitton/">Nathalie Mitton</a></td>
        </tr>
        <tr>
            <td><a href="https://www.chalmers.se/en/">Chalmers University of Technology</a></td>
            <td>2017</td>
            <td><a href="https://pingpong.chalmers.se/public/courseId/8768/lang-en/publicPage.do">Developing applications and network protocols for IoT</a></td>
            <td><a href="mailto:beshr@chalmers.se">Beshr Al Nahas</a>, <a href="mailto:olafl@chalmers.se">Olaf Landsiedel</a></td>
        </tr>
        <tr>
            <td><a href="https://www.telecom-paristech.fr/">Telecom ParisTech</a></td>
            <td>2017</td>
            <td><a href="https://www.telecom-paristech.fr/eng/international-studies/master-of-engineering/postgraduate-program/wireless-networks-iot.html">Wireless networks and IoT</a></td>
            <td><a href="http://perso.telecom-paristech.fr/~martins/">Philippe Martins</a></td>
        </tr>
        <tr>
            <td><a href="http://www.unistra.fr/">Université de Strasbourg</a></td>
            <td>2015</td>
            <td><a href="https://mathinfo.unistra.fr/offre-de-formation/ue/?spec=8&amp;sem=24&amp;ue=550">Internet des Objets, Master 2 RISE</a></td>
            <td><a href="https://clarinet.u-strasbg.fr/~montavont/web/index.php">Julien Montavont</a></td>
        </tr>
        <tr>
            <td><a href="http://www.ohio.edu/mcclure">ITS School from Ohio University</a></td>
            <td>2015</td>
            <td>ITS 6900 Emerging Topics in Networking: Internet of Things</td>
            <td><a href="http://itsohio.net/people/faculty/arauz/">Julio Arauz</a></td>
        </tr>
        <tr>
            <td><a href="http://www.metu.edu.tr/">METU – Middle East Technical University</a></td>
            <td>2014</td>
            <td><a href="https://github.com/iot-lab/iot-lab/wiki/Education#metu-ceng530-computer-networks-and-communications-2014">CENG530 Computer Networks and Communications (graduate course) </a></td>
            <td><a href="http://eonur.eu">Ertan Onur</a></td>
        </tr>
        <tr>
            <td><a href="http://physique-eea.ujf-grenoble.fr/intra/Formations/M2/EEATS/PSPI/home_obj.php">UJF Grenoble – MiSCIT</a></td>
            <td>2014-2018</td>
            <td><a href="https://github.com/iot-lab/iot-lab/wiki/Education#ujf-grenoble--miscit-distributed-algorithms-and-network-systems-2014">Distributed Algorithms and Network Systems</a></td>
            <td><a href="http://necs.inrialpes.fr/people/garin/">Federica Garin</a></td>
        </tr>
        <tr>
            <td><a href="http://imt-lille-douai.fr/formations/toutes-les-formations/ingenieur-generaliste/cursus/">Institut Mines-Telecom Lille-Douai</a></td>
            <td>2012-2017</td>
            <td>Internet des Objets / Réseau d’objets communicants (UV ROC 5ème année)</td>
            <td><a href="http://researchers.lille.inria.fr/~mitton/">Nathalie Mitton</a></td>
        </tr>
        <tr>
            <td><a href="http://www.polytech-grenoble.fr/ricm.html">Polytech Grenoble – RCIM</a></td>
            <td>2010</td>
            <td><a href="https://github.com/iot-lab/iot-lab/wiki/Education#polytech-grenoble--rcim--tutoriel-senslab-2010">Tutoriel Senslab</a></td>
            <td><a href="http://membres-liglab.imag.fr/PPerso/membres/donsez/">Didier Donsez</a></td>
        </tr>
    </tbody>
</table>

<div class="alert alert-warning" role="alert">
    Import <a class="alert-link" href="https://github.com/iot-lab/iot-lab/wiki/Education">Education content</a> from wiki ?
</div>
