---
layout: base
style: fullwidth
---
<!-- Main title -->
<section class="bg-fixed bg-home text-white mp-O">
    <div class="col-md-5 p-lg-5 mx-auto">
        <div class="py-5 text-center">
            <h1 class="display-3 mb-5">{{ site.description}}</h1>
            <p class="lead">IoT-LAB provides a facility suitable for testing networking with small wireless sensor devices and heterogeneous communicating objects.</p>
        </div>
    </div>
</section>

<!-- Key numbers -->
<section class="bg-light">
    <div class="container py-5">
        <h1 class="display-4 py-5 text-center">Used by a large part of the IoT community around the world.</h1>
        <div class="row justify-content-center pb-5">
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <span class="display-4 text-primary d-block">1,500+</span>
                <h6>Nodes</h6>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <span class="display-4 text-primary d-block">5,000+</span>
                <h6>Users<br><span class="text-muted">including academics, students and companies</span></h6>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <span class="display-4 text-primary d-block">40+</span>
                <h6>User Countries</h6>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <span class="display-4 text-primary d-block">200k+</span>
                <h6>Experiments<br><span class="text-muted">ran since 2012</span></h6>
            </div>
        </div>
    </div>
</section>

<!-- Open platform -->
<section>
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <p><i class="fas fa-door-open fa-7x"></i></p>
                <h3>Open platform</h3>
                <p class="text-justify">The testbed is in open access. Don't wait anymore, create your IoT-LAB account and run your experiment on our testbed.</p>
            </div>
            <div class="col-md-4 text-center">
                <p><i class="fab fa-osi fa-7x"></i><p>
                <h3>Open Software</h3>
                <p class="text-justify">Build your application without any dependency requirement. Develop from scratch, or based on open-source libraries, or even with an OS.</p>
            </div>
            <div class="col-md-4 text-center">
                <p><i class="fas fa-toolbox fa-7x"></i><p>
                <h3>Open Tools</h3>
                <p class="text-justify">Deploy and run your experiments with our webportal, automate with the CLI tools or make direct calls to our open API.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-auto">
                <a class="btn btn-lg btn-primary px-5" href="https://www.iot-lab.info/testbed/signup">Sign up</a>
            </div>
        </div>
    </div>
</section>

<!-- Remote interactions -->
<section class="bg-fixed bg-interact">
    <div class="container py-5 mx-lg-auto">
        <h1 class="display-3 py-5 text-white text-center">Remote <span class="text-muted">testbed<br>full of</span> interactions</h1>
        <p class="mb-5 text-white text-center">
            Use the wide set of tools provided by the IoT-LAB testbed to remotely book a large set of various constrained devices,
            to program them, interact with them and control them, either from your computer or from the workspaces provided by
            the testbed infrastructure.
        </p>
        <div class="card-columns mb-5">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>Node Management</small></div>
                    <h5 class="card-title">Start, Stop, Reset, Flash</h5>
                    <p class="card-text">
                        Use the various node management tools to remotely submit experiment, power on, power off, program, reset or even debug devices.
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>Serial</small></div>
                    <h5 class="card-title">Serial Link Access</h5>
                    <p class="card-text">
                        Communicate directly with the standard output of the
                        devices in your experiment using their serial link via TCP, SSH or websockets protocols.
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>Testbed</small></div>
                    <h5 class="card-title">Monitoring</h5>
                    <p class="card-text">
                        Finely track what is happening in your experiment by monitoring individual power consumption of the devices or radio signal.
                        Analyze network protocol with packet sniffer tools.
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>Protocol</small></div>
                    <h5 class="card-title">IPv6 compliant</h5>
                    <p class="card-text">All IoT-LAB sites provide public IPv6 prefix so you can try lastest standards protocols for the Internet Of Things.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>Cloud</small></div>
                    <h5 class="card-title">MQTT Broker</h5>
                    <p class="card-text">
                        Connect to the MQTT broker instance and start publishing/receiving messages with your devices using the MQTT protocol.
                    </p>
                </div>
            </div>
            <div class="card mb-3 bg-warning text-white">
                <div class="card-body">
                    <div class="text-muted"><small>Dev</small></div>
                    <h5 class="card-title">Open API</h5>
                    <p class="card-text">Directly interact with the testbed using the open REST API and start developing your own tools.</p>
                    <a href="https://api.iot-lab.info" class="btn btn-secondary">API Documentation</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Multi-radio -->
<section class="bg-light py-5">
    <div class="container py-5">
        <div class="mb-5">
            <h1 class="display-2 text-muted text-center mb-0"><strong>Multi-radio</strong></h1>
            <h1 class="display-4 text-center mt-0">Different communication technologies</h1>
        </div>
        <img class="img-fluid" style="width: 100%; max-height: 500px; object-fit: cover;" src="{{ '/assets/images/' | relative_url }}multi-radio.jpg">
        <p class="my-4 lead text-center mx-auto w-75">The different boards available bring users several radio technologies. Test radio scenarios with isolation, coexistence, cooperation, interoperability.</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
            <div class="col-6 mb-3">
                <div class="card h-100 card-body">
                    <div class="flex-grow-1">
                        <h3>802.15.4</h3>
                        <p>
                            <strong>IEEE 802.15.4</strong> is a technical standard which defines the operation of low-rate wireless personal area networks (LR-WPANs).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-3">
                <div class="card h-100 card-body">
                    <div class="flex-grow-1">
                        <h3>Sub-GHz</h3>
                        <p>
                            <strong>Sub-GHz</strong> radios are operating on Sub GHz ISM bands. In Europe, 868MHZ and 433Mhz bands can be used with these radios.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-3">
                <div class="card h-100 card-body">
                    <div class="flex-grow-1">
                        <h3>BLE</h3>
                        <p>
                            <strong>Bluetooth Low Energy</strong> (BLE) is a wireless personal area network technology designed and marketed by the Bluetooth Special Interest Group
                            (Bluetooth SIG).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-3">
                <div class="card h-100 card-body">
                    <div class="flex-grow-1">
                        <h3>LoRa</h3>
                        <p>
                            <strong>LoRa</strong> is a low-power wide-area network (LPWAN) protocol developed by Semtech and targetting long-range and low-power IoT.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Multi-platform -->
<section>
    <div class="container my-5 py-5">
        <div class="mb-5">
            <h1 class="display-2 text-muted text-center mb-0"><strong>Multi-platform</strong></h1>
            <h1 class="display-4 text-center mt-0">A large choice of hardware boards</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col-6 my-3 text-info">
                <p>
                    <span class="display-2">{{ site.data.boards.size }}</span><br>
                    <span class="display-4"> boards available</span>
                </p>
            </div>
            {% assign featured_boards = "IoT-LAB M3, IoT-LAB A8-M3, Microchip SAMR21, Zolertia Firefly, ST B-L072Z-LRWAN1, Nordic nRF52840DK" | split: ", " %}
            {% for featured in featured_boards %}
            {% assign board = site.data.boards | where: "name",featured | first %}
            {% capture color-style %}{% if board.name contains "IoT-LAB"%}primary{% else %}secondary{% endif %}{% endcapture %}
            <div class="col-6 my-3">
                <div class="card h-100 border-{{ color-style }}">
                    <img class="img-fluid"
                         src="{{ '/assets/images/boards/' | relative_url }}{{ board.board-id }}.jpg"
                         alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ '/docs/boards/' | relative_url }}{{ board.name | slugify }}"{% unless board.name contains "IoT-LAB" %} class="text-reset"{% endunless %}>{{ board.name}}</a></h5>
                        <p class="card-text">
                        {% for radio in board.radio %}
                            <span class="badge badge-pill badge-{{ color-style }}" href="#">{{ radio }}</span>
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-6 my-3">
                <a href="{% link docs/boards/overview.html %}"
                class="btn btn-outline-info w-100 h-100 d-flex align-items-end justify-content-center">
                    <h5><i class="fas fa-chevron-right fa-7x"></i> Show all</h5>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Multi-OS -->
<section>
    <div class="container my-5 py-5">
        <div class="my-5">
            <h1 class="display-2 text-muted text-center mb-0"><strong>Multi-OS</strong></h1>
            <h1 class="display-4 text-center mt-0">Develop your firmware with your favorite OS</h1>
        </div>
        <p class="lead text-center mx-auto w-75">Since you just need to bring your firmware for your experiment, you are free to choose your Operating System. Boards from the market may be supported by one or several. Some OS also supports IoT-LAB boards.</p>

        <!-- <p class="text-center"><a href="#"> Learn more about OS usage <span class="small text-decoration-none"> <i class="fas fa-chevron-right"></i></span></a></p> -->

        <div class="card-columns mt-5">
        {% for os in site.data.oses %}
            <div class="card border-0 shadow m-3">
                <a href="{{ '/docs/os/' | relative_url }}{{ os.name | slugify }}">
                {% if os.img %}
                <img class="card-img-top pt-3 px-3" src="{{ '/assets/images/oses/' | relative_url }}{{ os.img }}" class="card-img" title="{{ os.name }}" alt="{{ os.name }}">
                {% else %}
                <h4 class="pt-3 text-center">{{ os.name }}</h4>
                {% endif %}
                </a>
                <div class="card-body">
                    <hr>
                    <p class="card-text">{{ os.short-desc }}</p>
                </div>
                {% assign iotlab-support = os.boards | where_exp:"item", "item contains 'IoT-LAB'" %}
                {% if iotlab-support.size > 0 %}
                <div class="card-footer w-100 badge badge-primary">
                    IoT-LAB board support
                    {% for board in iotlab-support %}
                    <a href="{{ '/docs/boards/' | relative_url }}{{ board | slugify }}">
                      <span class="badge badge-light">{{ board }}</span>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<!-- Multi-topology -->
<section>
    <div class="container my-5 py-5">
        <div class="mb-5">
            <h1 class="display-2 text-muted text-center mb-0"><strong>Multi-topology</strong></h1>
            <h1 class="display-4 text-center mt-0">Run your experiment on different physical topologies</h1>
        </div>
        <div class="row pt-5">
            <div class=" col-sm-6 col-md-4 col-lg-3">
                <h1>Several deployments.<br>Several possibilities.</h1><br>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-2">
                <img class="img-fluid mb-2" src="{{ '/assets/images/sites/' | relative_url }}inria-grenoble-building.jpg" alt="Inria Grenoble building">
                <h5><a class="text-reset" href="{{ '/docs/deployment/' | relative_url }}grenoble">Grenoble</a></h5>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-2">
                <img class="img-fluid mb-2" src="{{ '/assets/images/sites/' | relative_url }}inria-lille-building.jpg" alt="Inria Lille building">
                <h5><a class="text-reset" href="{{ '/docs/deployment/' | relative_url }}lille">Lille</a></h5>
            </div>
	    <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-2">
                <img class="img-fluid mb-2" src="{{ '/assets/images/sites/' | relative_url }}ireste-nantes-building.jpg" alt="Nantes Ireste Polytech building">
                <h5><a class="text-reset" href="{{ '/docs/deployment/' | relative_url }}nantes">Nantes</a></h5>
            </div>
	    <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-2">
                <img class="img-fluid mb-2" src="{{ '/assets/images/sites/' | relative_url }}telecom-paris-building.jpg" alt="Telecom Paris building">
                <h5><a class="text-reset" href="{{ '/docs/deployment/' | relative_url }}paris">Paris</a></h5>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-2">
                <img class="img-fluid mb-2" src="{{ '/assets/images/sites/' | relative_url }}inria-saclay-building.jpg" alt="Saclay Inria building">
                <h5><a class="text-reset" href="{{ '/docs/deployment/' | relative_url }}saclay">Saclay</a></h5>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-2">
                <img class="img-fluid mb-2" src="{{ '/assets/images/sites/' | relative_url }}icube-strasbourg-building.jpg" alt="ICube Strasbourg building">
                <h5><a class="text-reset" href="{{ '/docs/deployment/' | relative_url }}strasbourg">Strasbourg</a></h5>
            </div>
        </div>
    </div>
</section>

<!-- bottom links -->
<section class="bg-light">
    <div class="row m-0">
        <div class="col-md-4 p-5 border border-white">
            <i class="mb-2 text-primary fas fa-book fa-2x"></i>
            <h3>Documentation</h3>
            <p><strong>Boards &bull; Deployment &bull; OS &bull; Tools</strong><br> Know more about the testbed and its features in details by reading the docs.</p>
            <a class="mt-3 btn btn-outline-primary px-5" href="{{ '/docs' | relative_url }}">Get started</a>
        </div>
        <div class="col-md-4 p-5 border border-white">
            <i class="mb-2 text-primary fas fa-chalkboard fa-2x"></i>
            <h3>Learn</h3>
            <p>Go to practice and find some typical examples on how to manage your experimentation scenario end-to-end.</p>
            <a class="mt-3 btn btn-outline-primary px-5" href="{{ '/learn' | relative_url }}">Learn usage</a>
        </div>
        <div class="col-md-4 p-5 border border-white">
            <i class="mb-2 text-primary fas fa-users fa-2x"></i>
            <h3>Community</h3>
            <p>Discover the usage of the testbed by the community by browsing the list of publications or by the list of education courses using IoT-LAB.</p>
            <a class="mt-3 btn btn-outline-primary px-5" href="{{ '/community/publications' | relative_url }}">Meet the community</a>
        </div>
    </div>
</section>
