---
style: fullwidth
---
<!-- Main title -->
<section class="bg-fixed bg-home text-white mp-O">
    <div class="col-md-5 p-lg-5 mx-auto">
        <div class="py-5 text-center">
            <h1 class="display-3 mb-5">{{ site.description}}</h1>
            <p class="lead">IoT-LAB provides a facility suitable for testing networking with small wireless sensor devices and heterogeneous communicating objects.</p>
        </div>
    </div>
</section>

<!-- Key numbers -->
<section class="bg-light">
    <div class="container py-5">
        <h1 class="display-4 py-5 text-center">Used by a large part of the IoT community around the world.</h1>
        <div class="row justify-content-center pb-5">
            <div class="col-6 mb-3 col-lg-3 mb-lg-0">
                <span class="display-4 text-primary d-block">1, 500+</span>
                <h6>Nodes</h6>
            </div>
            <div class="col-6 mb-3 col-lg-3 mb-lg-0">
                <span class="display-4 text-primary d-block">5,050+</span>
                <h6>Users<br><span class="text-muted">including academics, students and companies</span></h6>
            </div>
            <div class="col-6 mb-3 col-lg-3 mb-lg-0">
                <span class="display-4 text-primary d-block">25+</span>
                <h6>User Countries</h6>
            </div>
            <div class="col-6 mb-3 col-lg-3 mb-lg-0">
                <span class="display-4 text-primary d-block">73,000+</span>
                <h6>Experiments<br><span class="text-muted">ran since 2012</span></h6>
            </div>
        </div>
    </div>
</section>

<!-- Open platform -->
<section>
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <p><i class="fas fa-door-open fa-7x"></i></p>
                <h3>Open platform</h3>
                <p class="text-justify">The testbed is in open access. Don't wait anymore, create your IoT-LAB account and run your experiment on our testbed.</p>
            </div>
            <div class="col-md-4 text-center">
                <p><i class="fab fa-osi fa-7x"></i><p>
                <h3>Open Software</h3>
                <p class="text-justify">Build your application without any dependency requirement. Develop from scratch, or based on open-source libraries, or even with an OS.</p>
            </div>
            <div class="col-md-4 text-center">
                <p><i class="fas fa-toolbox fa-7x"></i><p>
                <h3>Open Tools</h3>
                <p class="text-justify">Deploy and run your experiments with our webportal, automate with the CLI tools or make direct calls to our open API.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-auto">
                <a class="btn btn-lg btn-primary px-5" href="#">Sign up</a>
            </div>
        </div>
    </div>
</section>

<!-- Remote interactions -->
<section class="bg-fixed bg-interact">
    <div class="container py-5 mx-lg-auto">
        <h1 class="display-3 py-5 text-white text-center">Remote <span class="text-muted">testbed<br>full of</span> interactions</h1>
        <p class="mb-5 text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <div class="card-columns mb-5">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>Node Management</small></div>
                    <h5 class="card-title">Start, Stop, Reset, Update</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>Serial</small></div>
                    <h5 class="card-title">Serial Link Access</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>Serial</small></div>
                    <h5 class="card-title">Websocket Client</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>Protocol</small></div>
                    <h5 class="card-title">MQTT Broker</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card mb-3 bg-warning text-white">
                <div class="card-body">
                    <div class="text-muted"><small>Dev</small></div>
                    <h5 class="card-title">Open API</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn btn-secondary">API Documentation</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-muted"><small>More</small></div>
                    <h5 class="card-title">To Be Continued</h5>
                    <p class="card-text">
                        Complete this list with other tools.
                        <ul>
                            <li>serial-aggregator</li>
                            <li>sniffer-aggregator</li>
                            <li>plot-tools</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Multi-* -->
<section class="container my-5 py-5">
    <p class="text-muted" role="alert">
        <i class="fas fa-drafting-compass"></i> <strong>Layout B1</strong> - Navigate through list group.
    </p>
    <h1 class="display-3 py-5 text-center">Multi-<small class="text-muted"><i class="fas fa-star-of-life"></i></small></h1>
    <!-- <div class="col-md-8 col-lg-6 mx-lg-auto"> -->
        <!-- List group -->
        <ul class="nav nav-items nav-pills-secondary justify-content-center" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="platform-tab" data-toggle="tab" href="#platform-panel" role="tab" aria-controls="platform" aria-selected="true">Multi-platform</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="radio-tab" data-toggle="tab" href="#radio-panel" role="tab" aria-controls="radio" aria-selected="false">Multi-radio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="os-tab" data-toggle="tab" href="#os-panel" role="tab" aria-controls="os" aria-selected="false">Multi-OS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="topology-tab" data-toggle="tab" href="#topology-panel" role="tab" aria-controls="topology" aria-selected="false">Multi-topology</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content my-3 text-center">
            <div class="tab-pane active" id="platform-panel" role="tabpanel">
                <img class="d-block w-100" src="https://dummyimage.com/1200x600/FFB6C1/fff" alt="First slide">
            </div>
            <div class="tab-pane" id="radio-panel" role="tabpanel">
                <img class="d-block w-100" src="https://dummyimage.com/1200x600/90EE90/fff" alt="Second slide">
            </div>
            <div class="tab-pane" id="os-panel" role="tabpanel">
                <img class="d-block w-100" src="https://dummyimage.com/1200x600/F0E68C/fff" alt="Third slide">
            </div>
            <div class="tab-pane" id="topology-panel" role="tabpanel">
                <img class="d-block w-100" src="https://dummyimage.com/1200x600/afeeee/fff" alt="Fourth slide">
            </div>
        </div>
        <p class="text-center">
            <a href="testbed" class="lead">
                <span>Learn more</span>
                <span class="small text-decoration-none"> <i class="fas fa-chevron-right"></i></span>
            </a>
        </p>

    <hr class="my-5">

    <p class="text-muted" role="alert">
        <i class="fas fa-drafting-compass"></i> <strong>Layout B2</strong> - Navigate through carousel.
    </p>
    <h1 class="display-3 py-5 text-center">Multi-<small class="text-muted"><i class="fas fa-star-of-life"></i></small></h1>
    <div id="myCarousel" class="carousel slide my-3" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://dummyimage.com/1200x600/FFB6C1/fff" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Multi-platform</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://dummyimage.com/1200x600/90EE90/fff" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Multi-radio</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://dummyimage.com/1200x600/F0E68C/fff" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Multi-OS</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://dummyimage.com/1200x600/afeeee/fff" alt="Fourth slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Multi-topology</h1>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p class="text-center">
        <a href="testbed" class="lead">
            <span>Learn more</span>
            <span class="small text-decoration-none"> <i class="fas fa-chevron-right"></i></span>
        </a>
    </p>
</section>

<!-- Multi-radio -->
<section class="bg-light">
    <div class="container my-5 py-5">
        <div class="mb-5">
            <h1 class="display-2 text-muted text-center mb-0"><strong>Multi-radio</strong></h1>
            <h1 class="display-4 text-center mt-0">Different communication technologies</h1>
        </div>
        <svg class="bd-placeholder-img" width="100%" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
        <p class="my-4 lead text-center mx-auto w-75">The different boards available bring users several radio technologies. Test radio scenarios with isolation, coexistence, cooperation, interoperability.</p>
        <div class="card-deck">
            <div class="card card-body">
                <div class="flex-grow-1">
                    <h3>802.15.4</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="card card-body">
                <div class="flex-grow-1">
                    <h3>Sub-1GHz</h3>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="card card-body">
                <div class="flex-grow-1">
                    <h3>Bluetooth</h3>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
            <div class="card card-body">
                <div class="flex-grow-1">
                    <h3>LoRa</h3>
                    <p>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Multi-platform -->
<section>
    <div class="container my-5 py-5">
        <div class="mb-5">
            <h1 class="display-2 text-muted text-center mb-0"><strong>Multi-platform</strong></h1>
            <h1 class="display-4 text-center mt-0">A large choice of hardware boards</h1>
        </div>
        <div class="row">
            <div class=" col-sm-6 col-md-4 offset-md-4 col-lg-3 offset-lg-3">
                <p>
                    <span class="display-2">{{ site.data.boards.size }}</span><br>
                    <span class="display-4"> boards available</span>
                </p>
                <p class="text-muted">described as follows <span class="small"><i class="fas fa-arrow-right"></i></span></p>
            </div>
            <div class=" col-sm-6 col-md-4 col-lg-3">
                <div class="my-3 card border-info text-info">
                    <svg class="img-fluid" width="400" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 400x300">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#24A2B7"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">board picture</text>
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title">Common name</h5>
                        <h6 class="card-subtitle mt-0 mb-2 text-monospace">iot-lab name</h6>
                        <p class="card-text">
                            <span class="badge badge-pill badge-info" href="#">radio</span>
                        </p>
                        <p class="card-text">
                            <span class="badge badge-light">Location <span class="badge badge-info">number</span></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% assign sorted_boards = site.data.boards | sort_natural: "name" %}
            {% for board in sorted_boards %}
            {% capture color-style %}{% if board.name contains "IoT-LAB"%}primary{% else %}secondary{% endif %}{% endcapture %}
            <div class=" col-sm-6 col-md-4 col-lg-3">
                <div class="my-3 card border-{{ color-style }}">
                    <img class="img-fluid"
                         src="{{ '/assets/images/boards/' | relative_url }}{{ board.iotlab-name }}.jpg"
                         alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ '/docs/boards/' | relative_url }}{{ board.name | slugify }}"{% unless board.name contains "IoT-LAB" %} class="text-reset"{% endunless %}>{{ board.name}}</a></h5>
                        <h6 class="card-subtitle mt-0 mb-2 text-monospace">{{ board.iotlab-name }}</h6>
                        <p class="card-text">
                        {% for radio in board.radio %}
                            <span class="badge badge-pill badge-{{ color-style }}" href="#">{{ radio }}</span>
                        {% endfor %}
                        </p>
                        <p class="card-text">
                        {% for loc in site.data.deployments %}
                            {% if loc.deployment[board.name] > 0 %}
                            <a class="badge badge-light" href="{{ "/docs/deployment/" | relative_url }}{{ loc.site | slugify }}">{{ loc.site}} <span class="badge badge-{{ color-style }}">{{ loc.deployment[board.name] }}</span></a>
                            {% endif %}
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Multi-OS -->
<section>
    <div class="container my-5 py-5">
        <div class="my-5">
            <h1 class="display-2 text-muted text-center mb-0"><strong>Multi-OS</strong></h1>
            <h1 class="display-4 text-center mt-0">Develop your firmware with your favorite OS</h1>
        </div>
        <p class="lead text-center mx-auto w-75">Since your just need to bring your firmware for your experiment, you are free to choose your Operating System. Boards from the market may be supported by one or several. Some OS also supports IoT-LAB boards.</p>

        <p class="text-center"><a href="#"> Learn more about OS usage <span class="small text-decoration-none"> <i class="fas fa-chevron-right"></i></span></a></p>

        <div class="card-columns mt-5">
        {% for os in site.data.oses %}
            <div class="card border-0 shadow m-3">
                {% if os.img %}
                <img class="card-img-top pt-3 px-3" src="{{ "/assets/images/oses/" | relative_url }}{{ os.img }}" class="card-img" title="{{ os.name }}" alt="{{ os.name }}">
                {% else %}
                <h4 class="pt-3 text-center">{{ os.name }}</h4>
                {% endif %}
                <div class="card-body">
                    <hr>
                    <p class="card-text">{{ os.short-desc }}</p>
                </div>
                {% assign iotlab-support = os.boards | where_exp:"item", "item contains 'IoT-LAB'" %}
                {% if iotlab-support %}
                <div class="card-footer w-100 badge badge-primary">
                    IoT-LAB board support
                    {% for board in iotlab-support %}
                    <span class="badge badge-light">{{ board | replace: "IoT-LAB ", "" }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<!-- Multi-topology -->
<section>
    <div class="container my-5 py-5">
        <div class="mb-5">
            <h1 class="display-2 text-muted text-center mb-0"><strong>Multi-topology</strong></h1>
            <h1 class="display-4 text-center mt-0">Run your experiment on different physical topologies</h1>
        </div>
        <div class="row py-5">
            <div class=" col-sm-6 col-md-4 col-lg-3">
                <h1>Several deployments.<br>Several possibilities.</h1><br>
            </div>
            {% assign sites = "Grenoble, Lille, Lyon, Paris, Munich, Nantes, Saclay, Santiago du Chili, Strasbourg" | split: ", " %}
            {% for site in sites %}
            <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-2">
                <img class="img-fluid mb-2" style="filter:hue-rotate({{ forloop.index | times: 50 }}deg)" src="{{ "/assets/images/" | relative_url }}inria-lille-building.png">
                <h5>{{ site }}</h5>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
