---
layout:
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include header.html %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand navbar-light bg-white border-bottom d-flex flex-column flex-md-row justify-content-center">
                    <div>
                        <a class="navbar-brand" href="{{ '/' | relative_url }}">
                            <img src="{{ "/assets/images/logo-fit-iotlab.png" | relative_url }}" alt="FIT IoT-LAB">
                        </a>
                    </div>
                    <div class="navbar-nav">
                        {% for item in site.data.navigation %}
                        {% assign active = nil %}
                        {% assign slug = item.name | slugify %}
                        {% if item.name == "Home" and page.url == item.link %}
                        {% assign active = true %}
                        {% elsif item.name != "Home" and page.url contains slug %}
                        {% assign active = true %}
                        {% endif %}
                        <a href="{{ item.link | relative_url }}" class="nav-item nav-link{% if active %} active{% endif %}">
                            {{ item.name }}
                        </a>
                        {% endfor%}
                    </div>
                    <div class="navbar-nav ml-md-auto">
                        <div class="btn-group mr-1" role="group">
                            <a href="#" role="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="All experiments"><i class="fas fa-flask"></i></a>
                            <a href="#" role="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Manage users"><i class="fas fa-users"></i></a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="#" role="button" class="btn btn-primary active" data-toggle="tooltip" data-placement="bottom" title="My experiments"><i class="fas fa-flask"></i></a>
                            <a href="#" role="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="New experiment"><i class="fas fa-plus"></i></a>
                            <a href="#" role="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="My resources"><i class="fas fa-folder-open"></i></a>
                            <a href="#" role="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Testbed status"><i class="fas fa-tasks"></i></a>
                            <a href="#" role="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Account: <b>biloute</b>"><i class="fas fa-user"></i></a>
                            <a href="#" role="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Log out"><i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
            </nav>
        </header>
        <main role="main">
            <div class="container py-md-3">
                <h1>Dashboard</h1>
            </div>
        </main>
        {% include scripts.html %}
    </body>
</html>
