<div class="alert alert-warning">
    <h4 class="alert-heading">Quote IoT-LAB</h4>
    According to the <a href="{{ '/docs/getting-started/terms-of-use' | relative_url }}" class="alert-link">Terms of Use</a> you have to quote FIT IoT-LAB in your publication if your experiments results are based on FIT IoT-LAB testbed:
    <ol>
        <li>Add acknowledgements to FIT IoT-LAB in introduction or conclusion of the publication.</li>
        <li>Add the following citation to the reference article of FIT IoT-LAB:
            <ul>
                <li>Text version:
                    <blockquote class="blockquote">
                        <a href="#" class="alert-link">FIT IoT-LAB: A Large Scale Open Experimental IoT Testbed</a>
                        <footer class="blockquote-footer">
                            C. Adjih, E. Baccelli, E. Fleury, G. Harter, N. Mitton, T. Noel, R. Pissard-Gibollet, F. Saint-Marcel, G. Schreiner, J. Vandaele, T. Watteyne
                            <br> in <cite title="Source Title">IEEE World Forum on Internet of Things (IEEE WF-IoT), Milan, Italy, December 2015</cite></footer>
                    </blockquote>
                </li>
                <li>BibTeX version:
<small><pre>
@inproceedings{adjih:hal-01213938,
  TITLE = {{FIT IoT-LAB: A Large Scale Open Experimental IoT Testbed}},
  AUTHOR = {Adjih, C{\'e}dric and Baccelli, Emmanuel and Fleury, Eric and Harter, Gaetan and Mitton, Nathalie and Noel, Thomas and Pissard-Gibollet, Roger and Saint-Marcel, Fr{\'e}d{\'e}ric and Schreiner, Guillaume and Vandaele, Julien and Watteyne, Thomas},
  URL = {https://hal.inria.fr/hal-01213938},
  BOOKTITLE = {{IEEE World Forum on Internet of Things (IEEE WF-IoT)}},
  ADDRESS = {Milan, Italy},
  YEAR = {2015},
  MONTH = Dec,
  HAL_ID = {hal-01213938},
  HAL_VERSION = {v1},
}
</pre></small>
                </li>
            </ul>
        </li>
        <li>Send email to <a class="alert-link" href="mailto:admin@iot-lab.info?subject=IoT-LAB reference in publication">admin@iot-lab.info</a> once your publication has been accepted in order to update list.</li>
    </ol>
</div>
