<nav class="nav border-bottom bg-white sticky-top d-flex align-items-center">
    <div class="nav mr-auto">
        <a class="nav-item nav-link text-reset lead" href="{{ page.url }}">Testbed</a>
    </div>
    <div class="nav small">
        <a class="nav-item nav-link disabled" href="#">Overview</a>
        <a class="nav-item nav-link" href="deployment">Deployment</a>
        <a class="nav-item nav-link" href="develop">Develop</a>
        <a class="nav-item nav-link" href="specs">Tech Specs</a>
    </div>
</nav>
