/*
html {
  // Margin top by navbar height, used with .fixed-top navbar
  padding-top: 4.5rem
}

:target {
  // Padding top bottom by navabar height, used with .fixed-top navbar
  padding-top: 4.5rem;
  margin-top: -4.5rem;
}
*/
header nav .navbar-brand img {
     height: 47px;
}

footer {
  font-size: 85%;
}
footer .logo {
  height: 70px;
}

.carousel-item > img {
  max-height: 512px;
  height: 600px;
  object-fit: cover;
}

#os.card-columns {
    column-count: 2;
}

/* Sidebar navigation */
.sidenav .nav-item>.nav-link {
    color: rgba(0,0,0,.65);
    padding: .25rem 0rem;

    &:hover {
        color: rgba(0,0,0,.85);
    }

    &.active {
        color: rgba(0,0,0,.85);
    }
}

.sidenav {
    border-right: 1px solid rgba(0,0,0,.05);
}

.sidenav > nav > .nav-item.active {
    margin-bottom: 1rem;
    &:not(:first-child) {
        margin-top: 1rem;
    }
}

.sidenav > nav > .nav-item>ul {
    display:none;
}

.sidenav > nav > .nav-item.active>ul {
    display:block;
}

.sidenav .nav>li>a {
    font-size: 90%;
    &.active {
        font-weight: 600;
    }
}
