:target {
  // Padding top bottom by navabar height, used with .fixed-top navbar
  padding-top: 5rem;
  margin-top: -5rem;
}

@media (min-width: 768px) {
    @supports ((position: -webkit-sticky) or(position: sticky)) {
        header {
            /* position:-webkit-sticky; */position: sticky;
            top: 0;
            z-index:1070
        }
    }
}

header nav .navbar-brand img {
    height: 47px;
}

footer {
    font-size: 85%;
}
footer .logo {
    height: 70px;
}

.container-reduced {
    max-width: 760px;
}

.carousel-item > img {
  max-height: 512px;
  height: 600px;
  object-fit: cover;
}

#os.card-columns {
    column-count: 2;
}

/* Sidebar */
@media (min-width: 768px) {
    @supports ((position: -webkit-sticky) or(position: sticky)) {
        .sidebar {
            /* position:-webkit-sticky; */position: sticky;
            top: 4.5rem;
            height: calc(100vh - 4.5rem);
            overflow-y: auto;
        }
    }
}

/* Sidebar navigation */
.sidenav .nav-item>.nav-link {
    color: rgba(0,0,0,.65);
    padding: .25rem 0rem;

    &:hover {
        color: rgba(0,0,0,.85);
    }

    &.active {
        color: rgba(0,0,0,.85);
    }
}

.sidenav {
    border-right: 1px solid rgba(0,0,0,.05);
}

.sidenav > nav > .nav-item.active {
    margin-bottom: 1rem;
    &:not(:first-child) {
        margin-top: 1rem;
    }
}

.sidenav > nav > .nav-item>ul {
    display:none;
}

.sidenav > nav > .nav-item.active>ul {
    display:block;
}

.sidenav .nav>li>a {
    font-size: 90%;
    &.active {
        font-weight: 600;
    }
}

/* Doc TOC */
.doc-toc {
    top: 4.5rem;
    height: calc(100vh - 4.5rem);
    overflow-y: auto;
    font-size: 0.875rem;
}

.doc-toc > ul {
  padding-left: 0;
  border-left: 1px solid #eee;

  ul {
    padding-left: 1rem;
  }
}

.doc-toc li {
  display: block;

  a {
    display: block;
    padding: .125rem 1.5rem;
    color: #77757a;

    &:hover {
      color: #007bff;
      text-decoration: none;
    }
  }
}


/**
 * Code formatting
 */
pre {
    padding: 8px 12px;
    border-radius: 3px;
    // color: white;
}
