---
---
@import "atom-one-light.css";
@import "main";

/*
 * Home page
 */
.bg-fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home {
    background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0.25)), url('{{ "/assets/images/lille3.jpg" | relative_url }}');
}

.bg-interact {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ "/assets/images/bg-interact.jpg" | relative_url }}');
}
