---
layout: base
title: Blog
style: reduced
---
{% for post in paginator.posts %}
<div class="mb-5">
  <h1><a class="text-reset" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  <p class="text-muted">{{ post.date | date_to_string }}</p>
  {{ post.content }}
</div>
{% endfor %}

<!-- Pagination links -->
<div class="btn-group btn-block" role="group">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" role="button" class="btn btn-lg btn-outline-secondary">Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" role="button" class="btn btn-lg btn-outline-secondary">Newer</a>
  {% endif %}
</div>
