---
layout: base
title: Education
---
{% include community.html %}

<section>
    <h2 id="education">Education</h2>

    <p class="lead">The platform can be used for student projects or practical courses on Wireless Sensor Networks or Internet of Things.</p>

    <div class="alert alert-info">
        <h4 class="alert-heading">Using IoT-LAB for practical courses</h4>
        <ul>
            <li>At least one reference teacher must have an IoT-LAB account and have accepted the charter.</li>
            <li>The reference teacher must contact, at least one month in advance, the IoT-LAB administrators by email to reserve a complete site during some courses period. The acceptance of the reservation is given according to the schedule of use for research or maintenance activities.</li>
            <li>The IoT-LAB administrators will generate a set of dedicated accounts for students.</li>
            <li>The practical courses using FIT IoT-LAB will be cited in the list below with a web link when it is possible.</li>
        </ul>
    </div>

    <h3>Referenced courses</h3>

    <table class="table">
        <thead>
            <tr>
                <th>University/School</th>
                <th>Year</th>
                <th>Title</th>
                <th>Referent teacher</th>
            </tr>
        </thead>
        <tbody>
            {% for course in site.data.education %}
            <tr>
                <td>{{ course.school }} </td>
                <td>{{ course.year }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.teacher }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
