---
layout: base
title: Publications
---
{% include community.html %}

<section>
    {% include quote-iotlab.html %}

    <h2 id="publications">Publications using/citing IoT-LAB</h2>

    <p class="lead">We used Google Scholar to search and list the works that have used IoT-LAB (see <a href="https://scholar.google.com/citations?user=RLklob4AAAAJ">our profile</a>).</p>

    <div>
        {% assign issued =  site.data.publications.references | map: 'issued' | uniq | compact %}
        {% assign years =  issued | map: 'year' | sort | reverse %}
        {% for year in years %}
            <h3 class="border-bottom">{{ year }}</h3>
            <ul>
            {% for publi in site.data.publications.references %}
                {% for publi_year in publi.issued %}
                    {% if year == publi_year.year %}
                    <li>
                        <blockquote class="blockquote">
                        <p class="mb-0">{{ publi.title }}</p>
                        <footer class="blockquote-footer">
                        {% for publi_authors in publi.author %}
                            {{ publi_authors.family }} {{ publi_authors.given }}
                            {% if forloop.last == true %}
                            {% else %}
                                ,&nbsp;
                            {% endif %}
                        {% endfor %}
                        <br>in <cite title="Source Title">
                                    {% if publi.container-title %}{{ publi.container-title }} {% endif %}
                                    {% if publi.publisher %}{{ publi.publisher }} {% endif %}
                                    {% if publi.page %}{{ publi.page }} {% endif %}
                                    {% if publi.volume %}{{ publi.volume }}{% endif %}
                                </cite>
                        </footer>
                        </blockquote>
                    </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</section>
