---
layout: base
title: Publications
---
{% include community.html %}

<section>
    <h2 id="publications">Publications using/citing IoT-LAB</h2>

    <p class="lead">This list is not exhaustive but regroups some papers shared by users.</p>

    {% include quote-iotlab.html %}

    <div>
        {% for item in site.data.publications %}
        <h3 class="border-bottom">{{ item.year }}</h3>
        <ul>
            {% for publi in item.publications %}
            <li>
                <blockquote class="blockquote">
                    <p class="mb-0"><a href="{{ publi.link }}" target="_blank">{{ publi.title }}</a></p>
                    <footer class="blockquote-footer">
                        {{ publi.authors }}
                        <br>in <cite title="Source Title">{{ publi.reference }}</cite>
                    </footer>
                </blockquote>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</section>
