<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include header.html %}
    </head>
    <body>
        <header>
            {% include navigation.html %}
        </header>
        <main role="main">
        {% capture css-class %}
            {% if layout.style == "fullwidth" or page.style == "fullwidth" %}
            {% elsif layout.style == "fluid" or page.style == "fluid" %}container-fluid
            {% elsif layout.style == "reduced" or page.style == "reduced" %}container container-reduced py-5
            {% else %}container py-md-3
            {% endif %}
        {% endcapture %}
            <div{% unless css-class == '' %} class="{{ css-class }}"{% endunless %}>
                {{ content }}
            </div>
        </main>
        {% unless layout.nofooter %}
        <footer class="bg-dark text-light">
            {% include footer.html %}
        </footer>
        {% endunless %}
        {% include scripts.html %}
    </body>
</html>
