<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include header.html %}
    </head>
    <body>
        <header>
            {% include navigation.html %}
        </header>
        <main role="main">
        {% if layout.style == "fullwidth" or page.style == "fullwidth" %}
            {{ content }}
        {% elsif layout.style == "fluid" or page.style == "fluid" %}
            <div class="container-fluid">
                {{ content }}
            </div>
        {% else %}
            <div class="container py-md-3">
                {{ content }}
            </div>
        {% endif %}
        </main>
        {% unless layout.nofooter %}
        <footer class="bg-dark text-light">
            {% include footer.html %}
        </footer>
        {% endunless %}
        {% include scripts.html %}
    </body>
</html>
