<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include header.html %}
    </head>
    <body>
        <header>
            {% include navigation.html %}
        </header>
        <main role="main">
        {% if page.style != "fullwidth" %}
            <div class="container py-md-3">
                {{ content }}
            </div>
        {% else %}
            {{ content }}
        {% endif %}
        </main>
        <footer class="bg-dark text-light">
            {% include footer.html %}
        </footer>
        {% include scripts.html %}
    </body>
</html>
