---
layout: docs
---
{% assign location = site.data.deployments | where:"site", page.title %}
{% assign location = location.first %}

<h1>{{ page.title }}</h1>

<p class="lead">{{ page.description }}</p>

<p>
    <strong>server</strong> <span class="badge badge-info">{{ page.title | slugify }}.iot-lab.info</span><br>
    <strong>boards</strong>
{% assign boards = location.deployment | sort_natural: "board" %}
{% for item in boards %}
    {% capture color-style %}{% if item.board contains "IoT-LAB"%}primary{% else %}secondary{% endif %}{% endcapture %}
    <a class="badge badge-{{ color-style }}" href="{{ '/docs/boards/' | relative_url }}{{ item.board | slugify }}">
        {{ item.board }}
        <span class="badge badge-light">{{ item.number }}</span>
    </a>
{% endfor %}
</p>

{{ content }}
