---
layout: docs
---
{% assign os = site.data.oses | where: "name", page.title %}
{% assign os = os.first %}

<h1>{{ page.title }}</h1>
<p class="lead">{{ os.short_desc }}</p>

{% if os.boards %}
<div class="alert alert-info text-monospace">
  Boards:
  <ul>
  {% for board in os.boards %}
    <li><a class="alert-link" href="{{ "/docs/boards/" | relative_url }}{{ board | slugify }}">{{ board }}</a></li>
  {%- endfor -%}
  </ul>
</div>
{% endif %}

<p>
    {% if page.logo %}
    <img style="width:20%" class="img-thumbnail p-2" src="{{ '/assets/images/oses/' | relative_url}}{{ page.logo }}"/><br>
    {% endif %}
    <small><a href="{{ os.website }}" target="_blank">Official website <i class="fas fa-external-link-alt"></i></a></small>
</p>

{{ content }}
