---
layout: docs
---
{% assign os = site.data.oses | where: "name", page.title %}
{% assign os = os.first %}

<h1>{{ page.title }}</h1>
<p class="lead">{{ os.short_desc }}</p>

{% if os.boards %}
<p>
    {% for board in os.boards %}
    {% capture color-style %}{% if board contains "IoT-LAB"%}primary{% else %}secondary{% endif %}{% endcapture %}
    <a class="badge badge-{{ color-style }}" href="{{ '/docs/boards/' | relative_url }}{{ board | slugify }}">{{ board }}</a>
    {%- endfor -%}
</p>
{% endif %}

<p>
    {% if os.img %}
    <img style="width:20%" class="img-thumbnail p-2" src="{{ '/assets/images/oses/' | relative_url}}{{ os.img }}"/><br>
    {% endif %}
    <small><a href="{{ os.website }}" target="_blank">Official website <i class="fas fa-external-link-alt"></i></a></small>
</p>

{{ content }}
