---
layout: docs
---
{% assign location = site.data.deployments | where:"site", page.title %}
{% assign location = location.first %}

<h1>{{ page.title }}</h1>

<p class="lead">{{ page.description }}</p>

<p>
    <span class="badge badge-info">{{ page.title | slugify }}.iot-lab.info</span>
{% for item in location.deployment %}
    {% assign board = item[0] %}
    {% capture color-style %}{% if board contains "IoT-LAB"%}primary{% else %}secondary{% endif %}{% endcapture %}
    <a class="badge badge-{{ color-style }}" href="{{ '/docs/boards/' | relative_url }}{{ board | slugify }}">
        {{ board }}
        <span class="badge badge-light">{{ item[1] }}</span>
    </a>
{% endfor %}
</p>

{{ content }}
